
.player{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bolder;
    color:white;
    font-size: 14pt;
    width:300px;
    height:150px;
    border: 1pt solid black;
    margin: 10px;
    padding-top:120px;
    cursor: pointer;
}

.test{
    width:300px;
    height:200px;
}

.container-main{
    margin-top:50px;
}
.lbl-versus{
    margin-top:50px;
    font-size:50pt;
    font-weight: bold;
}

.main-left{
    border-left: 1pt solid black;
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
}
.main-right{
    border-right: 1pt solid black;
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
}
.main-center{
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
}

#btn-attack{
    margin-top:20px;
}

#character-select{
    text-align: center;
    padding:20px;
}
    
#Superman{
    background-image: url('../images/superman.jpg');
}

#Batman{
    background-image: url('../images/batman.jpg');
}

#IronMan{
    background-image: url('../images/ironman.png');
}

#Wolverine{
    background-image: url('../images/wolverine.jpg');
}

#stats-user, #stats-versus{
    display: none;
}