
.title-head{
    color:light;
    border-bottom:2pt solid white;
    font-size: 50pt;
    font-family: 'Bangers', cursive;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    background-image: url('../images/dark.png');
}

body{
    background-image: url('../images/colosseum.jpg');
    background-size: cover;
}

.player{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bolder;
    color:white;
    font-size: 14pt;
    width:300px;
    height:150px;
    border: 2pt solid black;
    margin-top: 10px;
    padding-top:110px;
    cursor: pointer;
}

.test{
    width:400px;
    height:300px;
}

.container-main{
    margin-top:30px;
}
.lbl-versus{
    margin-top:80px;
    font-size:50pt;
    font-weight: bold;
    font-family: 'Bangers', cursive;
}

.main-left{
    border-left: 2pt solid black;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
    background-image: url('../images/mocha.png');
}
.main-right{
    border-right: 2pt solid black;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
    background-image: url('../images/mocha.png');
}
.main-center{
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
    background-image: url('../images/mocha.png');
}

#btn-attack{
    margin-top:20px;
}

#user-select{
    padding-left: 35px;
    padding-top:50px;
}

#versus-select{
    padding-right:35px;
    padding-top:50px;
}

#character-select{
    text-align: center;
    padding:20px;
}
    
#Superman{
    background-image: url('../images/superman.jpg');
}

#Batman{
    background-image: url('../images/batman.jpg');
}

#IronMan{
    background-image: url('../images/ironman.png');
}

#Wolverine{
    background-image: url('../images/wolverine.jpg');
}

 #lbl-user, #lbl-versus{
    display: none;
    background-color: whitesmoke;
    border-left: 2pt solid black;
    border-bottom: 2pt solid black;

 }

#stats-user, #stats-versus{
    border-bottom: 2pt solid black;
    border-right: 2pt solid black;
    background-color: whitesmoke;
    display: none;
}

#battle-status{
    font-size: 18pt;
    margin-top: 20px;
    font-weight: bold;
    border:2pt solid black;
    background-color: whitesmoke;
}